.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
    color: #dda502;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #c13f00;
}

.pokedex--main-container{
    background: #398bbd;
    border: 13px solid #73cdff;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.pokedex--info-section{
    display: inline-block;
    width: 100%;
}

.pokedex--info-left{
    float: left;
}

.pokedex--info-right{
    float: right;
}

.pokedex--name{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}